<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBoQ7opWmIxlc4VqmW44vyhNN4EJJ3ugGU</string>
	<key>GCM_SENDER_ID</key>
	<string>52196197674</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.simpleMolkkyScore</string>
	<key>PROJECT_ID</key>
	<string>simple-molkky-score</string>
	<key>STORAGE_BUCKET</key>
	<string>simple-molkky-score.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:52196197674:ios:fb8404f777a0a2b0048a53</string>
</dict>
</plist>